body {
  font-family: "Poppins", sans-serif;
  background: #faf8f5;
}

.sticky-top {
  background-color: #faf8f5;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.099);
}

.noise-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(/img/noise.png);
  background-position: 0, 0;
  background-size: auto;
  background-repeat: repeat;
  opacity: 0.3;
  z-index: -1000;
}

/********************************************
Typography System
********************************************/

/* ----- Typography ----- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-weight: 600;
}

.font-weight-medium {
  font-weight: 500;
}

/********************************************
Modals
********************************************/
#donorModal,
#giveModal,
.modal-content {
  border-radius: 12px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/********************************************
Utility Classes
********************************************/

.row-content {
  padding: 60px 0;
  min-height: 200px;
}

/********************************************
Reusable Compontents
********************************************/

/* ----- Buttons ----- */

.btn-md {
  padding: 6px 15px;
  font-size: 20px;
}

.btn-info-gradient {
  background: #0e5fa2;
  color: #ffffff;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #0e5fa2 0%,
    #316ce8 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0e5fa2),
    to(#316ce8)
  );
  background: -webkit-linear-gradient(left, #0e5fa2 0%, #316ce8 100%);
  background: -o-linear-gradient(left, #0e5fa2 0%, #316ce8 100%);
  background: linear-gradient(to right, #0e5fa2 0%, #316ce8 100%);
}

.btn-info-gradient:hover {
  background: #316ce8;
  color: #ffffff;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #316ce8 0%,
    #0e5fa2 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#316ce8),
    to(#0e5fa2)
  );
  background: -webkit-linear-gradient(left, #316ce8 0%, #0e5fa2 100%);
  background: -o-linear-gradient(left, #316ce8 0%, #0e5fa2 100%);
  background: linear-gradient(to right, #316ce8 0%, #0e5fa2 100%);
}

.btn-outline-ghost {
  border: 1px solid #0e5fa2;
  color: #0e5fa2;
}

.btn-outline-ghost:hover {
  background: -webkit-linear-gradient(left, #316ce8 0%, #0e5fa2 100%);
  color: #ffffff;
}

/* ----- Modals ----- */

/* ----- Badges ----- */

.badge {
  line-height: 16px;
}

.badge-span {
  background: #0e5fa2;
}
