body {
  font-family: "Poppins", sans-serif;
  background: #e9f5ff;
}

/********************************************
Typography System
********************************************/

/* ----- Typography ----- */

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

/********************************************
Utility Classes
********************************************/

.row-content {
  padding: 60px 0;
  min-height: 200px;
}

.font-weight-medium {
  font-weight: 500;
}

/********************************************
Reusable Compontents
********************************************/

/* ----- Buttons ----- */

.btn-md {
  padding: 6px 20px;
  font-size: 20px;
}

.btn-info-gradient {
  background: #0e5fa2;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #0e5fa2 0%,
    #316ce8 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0e5fa2),
    to(#316ce8)
  );
  background: -webkit-linear-gradient(left, #0e5fa2 0%, #316ce8 100%);
  background: -o-linear-gradient(left, #0e5fa2 0%, #316ce8 100%);
  background: linear-gradient(to right, #0e5fa2 0%, #316ce8 100%);
}

.btn-info-gradient:hover {
  background: #316ce8;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #316ce8 0%,
    #0e5fa2 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#316ce8),
    to(#0e5fa2)
  );
  background: -webkit-linear-gradient(left, #316ce8 0%, #0e5fa2 100%);
  background: -o-linear-gradient(left, #316ce8 0%, #0e5fa2 100%);
  background: linear-gradient(to right, #316ce8 0%, #0e5fa2 100%);
}

.btn-outline-ghost {
  border: 1.5px solid #e9f5ff;
  color: #e9f5ff;
}

.btn-outline-ghost:hover {
  background-color: #316ce8;
  border: 3px inset solid #316ce8;
  color: #ffffff;
}

/* ----- Modals ----- */

/* ----- Badges ----- */

.badge {
  line-height: 14px;
}

.badge-span {
  background: #0e5fa2;
}
