@media (max-width: 767px) {
  .jumbotron {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .jumbotron h1 {
    font-size: 2.8rem;
  }

  .our-mission .mission-wrapper .lower-box {
    margin-top: 0px;
  }

  .card:hover {
    transform: translateY(0rem);
  }

  .testimonial .testimonial-pill {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    border-right: 0px solid rgba(120, 130, 140, 0.13);
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    margin-bottom: 40px;
  }
  .testimonial .testimonial-pill .nav-link img {
    width: 50px;
  }
  .testimonial .testimonial-pill .nav-link.active {
    border-right: 0px solid #0e5fa2;
    border-bottom: 3px solid #0e5fa2;
  }
}
