$header-font: "Poppins", sans-serif;
$body-font: "Poppins", sans-serif;

$color-primary: #0e5fa2;
$color-secondary: #316ce8;
$color-pale: #faf8f5;

$color-dark: #333;
$color-light: #ffffff;

$shadow-primary: rgba(115, 128, 157, 0.7);

$pill-primary: #0e5fa2;
$pill-secondary: #f9900e;
