/********************************************
Navbar | Jumbotron
********************************************/

/* Navbar */

.navbar {
  background-color: #e9f5ff;
  padding: 20px;
}
.dropdown-menu {
  background-color: #e9f5ff;
  box-shadow: -webkit-box-shadow 0px 0px 30px rgba(115, 128, 157, 0.4);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.4);
}

/* Jumbotron */

.jumbotron {
  position: relative;
  border-radius: 20px;
  background-image: url(../img/nucamp_bg.JPG);
  background-size: cover;
  background-position: top;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 100px;
}

.jumbotron .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.jumbotron-inner {
  position: relative;
  z-index: 2;
}

.jumbotron h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-left: -16px;
}

.jumbotron p {
  margin-left: -16px;
}

/* Supporter Images */

.supporters {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.supporters-imgs {
  display: flex;
}

.supporter-imgs img {
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 50%;
  border: 3px solid #e9f5ff;
  margin-right: -1.5rem;
}

.supporter-text span {
  font-weight: 700;
}

/********************************************
Our Mission
********************************************/

.our-mission h6 {
  line-height: 22px;
  font-size: 18px;
}

.our-mission .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.our-mission .img-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.8);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.8);
}

.our-mission .mission-wrapper .img-hover {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.our-mission .mission-wrapper .img-hover:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.our-mission .mission-wrapper .lower-box {
  margin-top: 100px;
}

/********************************************
Our Projects
********************************************/

.card {
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.8);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.8);
}

.avatar img {
  height: 50px;
  width: 50px;
}

/********************************************
Testimonial
********************************************/
.testimonial {
  font-family: "Poppins", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.testimonial h1,
.testimonial h2,
.testimonial h3,
.testimonial h4,
.testimonial h5 {
  color: #3e4555;
}

.testimonial .font-weight-light .h6 {
  font-weight: 500;
}

.testimonial h5 {
  line-height: 28px;
  font-size: 18px;
}

.testimonial .subtitle .h6 {
  color: #8d97ad;
  line-height: 24px;
  font-size: 16px;
}

.testimonial .testimonial-pill {
  border-right: 1px solid rgba(120, 130, 140, 0.13);
}

.testimonial .testimonial-pill .nav-link {
  border-radius: 0px;
  margin: 8px -2px 8px 0;
}

.testimonial .testimonial-pill .nav-link img {
  width: 70px;
  opacity: 0.5;
}

.testimonial .testimonial-pill .nav-link.active {
  background: transparent;
  color: #8d97ad;
  border-right: 3px solid #0e5fa2;
}

.testimonial .testimonial-pill .nav-link.active img {
  opacity: 1;
}

.testimonial .btn-testimonial {
  background: #0e5fa2 !important;
  border: 1px solid #0e5fa2 !important;
}

.testimonial .btn-md {
  padding: 18px 0px;
  width: 60px;
  height: 60px;
  font-size: 20px;
}

/********************************************
Our Totals
********************************************/

.card-totals {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: -webkit-box-shadow 0px 0px 30px rgba(115, 128, 157, 0.8);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.8);
}

.bg-grey-dark {
  background: linear-gradient(to right, #232526, #414345) !important;
  color: #fff;
}

.card-totals .card-statistic-3 .card-icon-large .fa {
  font-size: 110px;
}

.card-totals .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

.bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

.bg-green {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
  color: #fff;
}

.bg-orange {
  background: linear-gradient(to right, #f9900e, #ffba56) !important;
  color: #fff;
}

/********************************************
Footer
********************************************/

.site-footer {
  padding: 20px 0;
}

.btn-social-icon {
  color: #0e5fa2;
}
