$header-font: "Poppins", sans-serif;
$body-font: "Poppins", sans-serif;

$color-primary: #0e5fa2;
$color-secondary: #316ce8;
$color-typewriter-blue: #3486c9;
$color-pale: #faf8f5;
$color-dark-gray: #232526;
$color-pale-gray: #e3e3e3;
$color-black: #000000;

$color-subheading: #454545;
$color-light: #ffffff;
$shadow-primary: rgba(115, 128, 157, 0.3);
$shadow-modal: rgba(0, 0, 0, 0.3);
$shadow-avatar: rgba(115, 128, 157, 0.4);

$pill-primary: #0e5fa2;
$pill-secondary: #f9900e;
$pill-testimonial: rgba(120, 130, 140, 0.13);

$slider-green-start: #23bdb8;
$slider-green-end: #43e794;

$slider-orange-start: #f9900e;
$slider-orange-end: #ffba56;

body {
  font-family: $body-font;
}

.sticky-top {
  background-color: $color-pale;
}

.noise-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(/img/noise.png);
  background-position: 0, 0;
  background-size: auto;
  background-repeat: repeat;
  opacity: 0.3;
  z-index: -1000;
}

/********************************************
Typography System
********************************************/

/* ----- Typography ----- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

h2 {
  font-weight: 600;
}

.text-subtitle {
  color: $color-subheading;
}

.font-weight-medium {
  font-weight: 500;
}

.bg-beige {
  background-color: $color-pale;
}

/********************************************
Modals
********************************************/
#donorModal,
#giveModal,
.modal-content {
  border-radius: 12px;
  box-shadow: 0 2.4rem 4.8rem $shadow-modal;
  overflow: hidden;
}

/********************************************
Utility Classes
********************************************/

/****** Backgrounds ******/

.row-content {
  padding: 60px 0;
  min-height: 200px;
}

.box-shadow-primary {
  box-shadow: 0px 0px 20px $shadow-primary;
}

/********************************************
Reusable Compontents
********************************************/

/* ----- Buttons ----- */

.btn-md {
  padding: 6px 15px;
  font-size: 20px;
}

.btn-info-gradient {
  background: $color-primary;
  color: $color-light;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    $color-primary 0%,
    $color-secondary 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from($color-primary),
    to($color-secondary)
  );
  background: -webkit-linear-gradient(
    left,
    $color-primary 0%,
    $color-secondary 100%
  );
  background: -o-linear-gradient(
    left,
    $color-primary 0%,
    $color-secondary 100%
  );
  background: linear-gradient(
    to right,
    $color-primary 0%,
    $color-secondary 100%
  );
}

.btn-info-gradient:hover {
  background: $color-secondary;
  color: $color-light;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    $color-secondary 0%,
    $color-primary 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from($color-secondary),
    to($color-primary)
  );
  background: -webkit-linear-gradient(
    left,
    $color-secondary 0%,
    $color-primary 100%
  );
  background: -o-linear-gradient(
    left,
    $color-secondary 0%,
    $color-primary 100%
  );
  background: linear-gradient(
    to right,
    $color-secondary 0%,
    $color-primary 100%
  );
}

.btn-outline-ghost {
  border: 1px solid $color-primary;
  color: $color-primary;
}

.btn-outline-ghost:hover {
  background: -webkit-linear-gradient(
    left,
    $color-secondary 0%,
    $color-primary 100%
  );
  color: $color-light;
}

/* ----- Modals ----- */

/* ----- Badges ----- */

.badge {
  line-height: 16px;
}

.badge-span {
  background: $color-primary;
}

/********************************************
Section | Header | Hero | Jumbotron
********************************************/

/****** Navbar ******/

/****** Mobile-Nav ******/

.nav-toggle-btn {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-toggle-btn span {
  display: block;
  position: absolute;
  height: 2.5px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-toggle-btn span {
  background: $color-primary;
}
.nav-toggle-btn span:nth-child(1) {
  top: 0px;
}

.nav-toggle-btn span:nth-child(2) {
  top: 10px;
}

.nav-toggle-btn span:nth-child(3) {
  top: 20px;
}

.nav-toggle-btn.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-toggle-btn.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.nav-toggle-btn.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/****** Jumbotron ******/

.jumbotron-container {
  padding: 50px 120px 50px 120px;
}

.jumbotron-fluid {
  position: relative;
  border-radius: 20px;
  background-image: linear-gradient(
      45deg,
      rgba(41, 46, 73, 0.2),
      rgba(83, 105, 118, 0.2)
    ),
    url(../img/compassion-in-action-about-us-banner.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.jumbotron-fluid .jumbotron-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.8),
    rgba(46, 87, 111, 0)
  );
}

.jumbotron-inner {
  position: relative;
  z-index: 2;
}

.jumbotron-fluid h1 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-left: -16px;
}

.hero h1 {
  font-size: 3.3rem;
  font-weight: 700;
}

.hero h1 span {
  font-size: 3.5rem;
  background: $color-primary;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    $color-primary 0%,
    $color-typewriter-blue 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from($color-primary),
    to($color-typewriter-blue)
  );
  background: -webkit-linear-gradient(
    left,
    $color-primary 0%,
    $color-typewriter-blue 100%
  );
  background: -o-linear-gradient(
    left,
    $color-primary 0%,
    $color-typewriter-blue 100%
  );
  background: linear-gradient(
    to right,
    $color-primary 0%,
    $color-typewriter-blue 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-img {
  border-radius: 12px;
  box-shadow: 0px 0px 30px $shadow-primary;
  overflow: hidden;
}

/****** Supporter Images Round ******/
.supporters {
  align-items: center;
  gap: 1.6rem;
}

.supporter-imgs img {
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 50%;
  border: 3px solid $color-pale;
  box-shadow: 0px 0px 30px $shadow-primary;
  margin-right: -1.5rem;
}

.supporter-text span {
  font-weight: 700;
}

/********************************************
Section | Ways To Give
********************************************/

.card-support {
  border-radius: 15px;
  border: none;
  position: relative;
  overflow: hidden;
  position: relative;
}

.support-overlay-bg1,
.support-overlay-bg2,
.support-overlay-bg3 {
  position: absolute;
  background-size: cover;
  background-position: top;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: grayscale(1);
}

.support-overlay-bg1:hover,
.support-overlay-bg2:hover,
.support-overlay-bg3:hover {
  filter: grayscale(0);
}

.support-overlay-bg1 {
  background-image: linear-gradient(
      45deg,
      rgba(41, 46, 73, 0.9),
      rgba(83, 105, 118, 0.5)
    ),
    url(../img/our-projects-1.jpg);
}

.support-overlay-bg2 {
  background-image: linear-gradient(
      45deg,
      rgba(41, 46, 73, 0.9),
      rgba(83, 105, 118, 0.5)
    ),
    url(../img/our-projects-2.jpg);
}

.support-overlay-bg3 {
  background-image: linear-gradient(
      45deg,
      rgba(41, 46, 73, 0.9),
      rgba(83, 105, 118, 0.5)
    ),
    url(../img/our-projects-3.jpg);
}

/********************************************
Section | Our Mission |
********************************************/

.our-mission h6 {
  line-height: 22px;
  font-size: 18px;
}

.our-mission .subtitle {
  line-height: 24px;
}

.our-mission .mission-wrapper .img-hover {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: all 0.4;
}

.our-mission .mission-wrapper .img-hover:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.our-mission .mission-wrapper .lower-box {
  margin-top: 100px;
}

.card-icon {
  color: $color-primary;
}

/********************************************
Section | Our Projects
********************************************/

.card-project {
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.4s;
}
.card-project,
.card-body,
.card-title,
.card-text {
  position: relative;
  z-index: 2;
}
/****** Hover Animation - Move Up ******/
.card-project:hover {
  transform: translateY(-1.2rem);
}

.project-overlay-bg1,
.project-overlay-bg2,
.project-overlay-bg3 {
  background-size: cover;
  background-position: top;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: grayscale(1);
}

.project-overlay-bg1:hover,
.project-overlay-bg2:hover,
.project-overlay-bg3:hover {
  background-size: cover;
  background-position: top;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: grayscale(0);
}

.project-overlay-bg1 {
  position: absolute;
  background-image: linear-gradient(
      45deg,
      rgba(41, 46, 73, 0.9),
      rgba(83, 105, 118, 0.5)
    ),
    url(../img/our-projects-1.jpg);
}

.project-overlay-bg2 {
  position: absolute;
  background-image: linear-gradient(
      45deg,
      rgba(41, 46, 73, 0.9),
      rgba(83, 105, 118, 0.5)
    ),
    url(../img/our-projects-2.jpg);
}

.project-overlay-bg3 {
  position: absolute;
  background-image: linear-gradient(
      45deg,
      rgba(41, 46, 73, 0.9),
      rgba(83, 105, 118, 0.5)
    ),
    url(../img/our-projects-3.jpg);
}

/********************************************
Section | Testimonial
********************************************/

.testimonial {
  color: $color-subheading;
  font-weight: 300;
}

.testimonial .font-weight-light .h6 {
  font-weight: 500;
}

.testimonial h5 {
  line-height: 28px;
  font-size: 18px;
}

.testimonial .subtitle .h6 {
  color: $color-subheading;
  line-height: 24px;
  font-size: 16px;
}

.testimonial .testimonial-pill {
  border-right: 1px solid $pill-testimonial;
}

.testimonial .testimonial-pill .nav-link {
  border-radius: 0px;
  margin: 8px -2px 8px 0;
}

.testimonial .testimonial-pill .nav-link img {
  width: 70px;
  opacity: 0.5;
}

.testimonial .testimonial-pill .nav-link.active {
  background: transparent;
  border-right: 3px solid $color-primary;
}

.testimonial .testimonial-pill .nav-link.active img {
  opacity: 1;
}

.testimonial .btn-testimonial {
  background: $color-primary !important;
  border: 1px solid $color-primary !important;
}

.testimonial .btn-md {
  padding: 18px 0px;
  width: 60px;
  height: 60px;
  font-size: 20px;
}

.testimonial i {
  margin-top: -11px;
  margin-left: 2px;
  color: $color-light;
}

/********************************************
Section | Our Totals
********************************************/

.card-totals {
  border-radius: 15px;
  border: none;
  position: relative;
}

.bg-grey-dark {
  background: linear-gradient(
    to right,
    $color-dark-gray,
    $color-primary
  ) !important;
  color: $color-light;
}

.card-totals .card-statistic .card-icon-large .fa {
  font-size: 110px;
}

.card-totals .card-statistic .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  margin-bottom: 30px;
  color: $color-black;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

/* Linear Gradients for Disaster Relief and Donations YTS Progress Bars  */
.bg-green {
  background: linear-gradient(
    135deg,
    $slider-green-start 0%,
    $slider-green-end 100%
  ) !important;
  color: $color-light;
}

.bg-orange {
  background: linear-gradient(
    to right,
    $slider-orange-start 0%,
    $slider-orange-end 100%
  ) !important;
  color: $color-light;
}

.credibility img {
  height: 100px;
  width: 100px auto;
}

/********************************************
Page | About Us
********************************************/

/********************************************
Section | About Our Mission
********************************************/

.project img {
  border-radius: 20px;
}

/********************************************
Section | Text Slider
********************************************/

.text-slider .row {
  border-radius: 20px;
  margin: 20px 0;
}

.text-slider .title {
  font-weight: 300;
  line-height: 50px;
  font-size: 36px;
}

.text-slider .title span {
  border-bottom: 3px solid $color-primary;
}

.text-slider .text-success-gradiant {
  background: $color-primary;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    $color-primary 0%,
    $color-typewriter-blue 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from($color-primary),
    to($color-typewriter-blue)
  );
  background: -webkit-linear-gradient(
    left,
    $color-primary 0%,
    $color-typewriter-blue 100%
  );
  background: -o-linear-gradient(
    left,
    $color-primary 0%,
    $color-typewriter-blue 100%
  );
  background: linear-gradient(
    to right,
    $color-primary 0%,
    $color-typewriter-blue 100%
  );
  background: -o-linear-gradient(
    to right,
    $color-primary 0%,
    $color-typewriter-blue 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-slider .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

/********************************************
Page | Ways To Give
********************************************/

/****** Project Giving ******/
.giving-card {
  border-radius: 20px;
  overflow: hidden;
}

.input-group .input-container {
  border: 1px solid $color-pale-gray;
  background: $color-light !important;
  border-radius: 30px !important;
}

.input-group-text {
  background: none;
}

.giving-card .btn {
  border-radius: 20px;
}

.giving-card .card-footer {
  background-color: $color-light;
}

/****** Staff Giving ******/
.media {
  border-radius: 12px;
  overflow: hidden;
}

.media .btn {
  border-radius: 20px;
}

/********************************************
Page | Checkout Summary
********************************************/

.checkout h5 {
  font-size: 16px;
}

.checkout span {
  font-size: 14px;
}

/********************************************
Section | Footer
********************************************/

.site-footer {
  margin: 0;
}

footer a {
  color: $color-subheading;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: $color-primary;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 20px;
  border-top: 1px solid $color-primary;
}

/****** Social Icons ******/

ul.social-network {
  list-style: none;
  display: inline;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 5px 5px;
}

.social-network a.social-icon:hover {
  background-color: $color-primary;
}

.social-network a.social-icon:hover i {
  color: $color-light;
}

.social-circle li a {
  border: 1px solid $color-primary;
  display: inline-block;
  margin: 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  height: 35px;
  font-size: 18px;
  margin-bottom: 40px;
}

.social-circle li i {
  margin: 0;
  line-height: 35px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: $color-primary;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

/********************************************
Media Queries - Start
********************************************/

/****** Large Desktops ******/
@media (max-width: 1366px) {
  .jumbotron-container {
    padding: 50px 30px 50px 30px;
  }
}

/****** Laptops ******/
@media (max-width: 1200px) {
  .jumbotron-container {
    padding: 50px 15px 50px 15px;
  }
}

/****** Tablet ******/
@media (max-width: 960px) {
  h2 {
    font-size: 1.7rem;
  }
  .row-content {
    padding: 20px 0;
    min-height: 80px;
  }
}

/****** Mobile ******/

@media (max-width: 767px) {
  .row-content {
    padding: 20px 0;
    min-height: 60px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .hero h1 {
    font-size: 2.7rem;
    font-weight: 700;
  }

  .hero h1 span {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .supporter-imgs img {
    border: 2px solid $color-pale;
    box-shadow: 0px 0px 30px $shadow-avatar;
    width: 45px;
    height: 45px;
    margin-right: -1.2rem;
  }

  .jumbotron-container {
    padding: 60px 15px 60px 15px;
  }

  .our-mission .mission-wrapper .lower-box {
    margin-top: 8px;
  }

  .card-project {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  }

  .card-project:hover {
    transform: translateY(0rem);
  }

  .testimonial .testimonial-pill {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    border-right: 0px solid $pill-testimonial;
    border-bottom: 1px solid $pill-testimonial;
    margin-bottom: 40px;
  }

  .testimonial .testimonial-pill .nav-link img {
    width: 70px;
  }

  .testimonial .testimonial-pill .nav-link.active {
    border-right: 0px solid $color-primary;
    border-bottom: 3px solid $color-primary;
  }

  .text-slider .title {
    line-height: 30px;
    font-size: 24px;
  }
}

/********************************************
Media Queries - End
********************************************/
